[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/puppet-syntax-highlighting"]
	path = bundle/puppet-syntax-highlighting
	url = https://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/mirell/vim-matchit.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/vim-scripts/repeat.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/vim-scripts/surround.vim.git
[submodule "bundle/ShowFunc"]
	path = bundle/ShowFunc
	url = https://github.com/vim-scripts/ShowFunc.vim.git
